{% extends 'base_management.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ current_park.name }} - dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Park data
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <dl>
                                <dt>Name</dt>
                                <dd>{{ current_park.name }}</dd>
                                <br>
                                <dt>Address</dt>
                                <dd>{{ current_park.address|linebreaks }}</dd>
                                <br>
                                <dt>Opening hours</dt>
                                <dd>{{ current_park.working_hours_str }}</dd>
                                <br>
                                <dt>Size</dt>
                                <dd>{{ current_park.size }}</dd>
                                <br>
                                <dt>Reservation validity period (in minutes)</dt>
                                <dd>{{ current_park.validity_minutes }}</dd>
                            </dl>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    User data
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <dl>
                                <dt>Username</dt>
                                <dd>{{ current_park_manager.username }}</dd>
                                <br>
                                <dt>Email</dt>
                                <dd>{{ current_park_manager.email }}</dd>
                                <br>
                                <dt>First name</dt>
                                <dd>{{ current_park_manager.firstname }}</dd>
                                <br>
                                <dt>Last name</dt>
                                <dd>{{ current_park_manager.lastname }}</dd>
                            </dl>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}
