{% extends 'base_management.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ current_park.name }} - reservations</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Reservations
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% if reservations %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="reservations_table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Email</th>
                                        <th>Phone number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for reservation in reservations %}
                                        <tr class="{% cycle 'odd' 'even' %}">
                                            <td>{{ reservation.id }}</td>
                                            <td>{{ reservation.start }}</td>
                                            <td>{{ reservation.end }}</td>
                                            <td>{{ reservation.firstname }}</td>
                                            <td>{{ reservation.lastname }}</td>
                                            <td>{{ reservation.email }}</td>
                                            <td>{{ reservation.phone_number }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    {% else %}
                        <div class="h4">No reservations yet.</div>
                    {% endif %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#reservations_table').dataTable({
                order: [[ 0, 'desc' ]]
            });
        });
    </script>
{% endblock %}
