{% extends 'base_public.html' %}

{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ car_park.name }} - confirm reservation</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Confirmation form
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <p>You have {{ reservation.left_seconds }} seconds to confirm the reservation.
                        Please fill the form in order to do it.</p>
                    <form action="{% url 'car_parks_confirm_reservation' car_park.id reservation.token %}" role="form" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a href="{% url 'car_parks_reserve' car_park.id %}" class="btn btn-default">Cancel</a>
                        {% endbuttons %}
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
{% endblock %}
