{% extends 'base_public.html' %}

{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ car_park.name }} - reserve</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Reservation form
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <dl>
                        <dt>Opening hours</dt>
                        <dd>{{ car_park.working_hours_str }}</dd>
                        <br>
                        <dt>Available places</dt>
                        <dd>{{ car_park.size }}</dd>
                    </dl>
                    <form action="{% url 'car_parks_reserve' car_park.id %}" role="form" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
                        {% endbuttons %}
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
{% endblock %}

{% block scripts %}
    {{ form.media }}
{% endblock %}
