{% extends 'base_public.html' %}

{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Search car parks</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Search form
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form action="{% url 'car_parks_search' %}" role="form" method="GET">
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
                        {% endbuttons %}
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Results
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% if car_parks %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="car_parks_table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Size</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for car_park in car_parks %}
                                        <tr class="{% cycle 'odd' 'even' %}">
                                            <td>{{ car_park.name }}</td>
                                            <td>{{ car_park.size }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'car_parks_reserve' car_park.id %}">reserve</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    {% else %}
                        <div class="h4">No parks matching your criteria have been found.</div>
                    {% endif %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block scripts %}
    {{ form.media }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#car_parks_table').dataTable();
        });
    </script>
{% endblock %}
