{% extends 'base_public.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ car_park.name }} - reservation details</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Reservation details
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <dl>
                                <dt>Place numbers</dt>
                                <dd>{{ reservation.place_numbers_formatted }}</dd>
                                <br>
                                <dt>Address</dt>
                                <dd>{{ car_park.address|linebreaks }}</dd>
                                <br>
                                <dt>Start</dt>
                                <dd>{{ reservation.start }}</dd>
                                <br>
                                <dt>End</dt>
                                <dd>{{ reservation.end }}</dd>
                                <br>
                                <dt>First name</dt>
                                <dd>{{ reservation.firstname }}</dd>
                                <br>
                                <dt>Last name</dt>
                                <dd>{{ reservation.lastname }}</dd>
                                <br>
                                <dt>Email</dt>
                                <dd>{{ reservation.email }}</dd>
                                <br>
                                <dt>Phone number</dt>
                                <dd>{{ reservation.phone_number }}</dd>
                            </dl>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}
