{% extends 'base_auth.html' %}

{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Logout</h3>
                    </div>
                    <div class="panel-body">
                        You have been successfully logged out.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
