{% extends 'base_auth.html' %}

{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create new car park</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{% url 'registration_register' %}" method="POST">
                            {% csrf_token %}
                            <fieldset>
                                {% bootstrap_form form %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
                                {% endbuttons %}
                                <div class="text-right">
                                    <a href="{% url 'home' %}">Cancel</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
