{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CarPark - car park reservation system</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'sb-admin-2/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'sb-admin-2/css/plugins/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'sb-admin-2/css/plugins/timeline.css' %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static 'sb-admin-2/css/plugins/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'sb-admin-2/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'sb-admin-2/css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'sb-admin-2/font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- jQuery Version 1.11.0 -->
    <script src="{% static 'sb-admin-2/js/jquery-1.11.0.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'sb-admin-2/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'sb-admin-2/js/plugins/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'sb-admin-2/js/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'sb-admin-2/js/plugins/morris/morris.min.js' %}"></script>

    <!-- DataTables JavaScript -->
    <script src="{% static 'sb-admin-2/js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'sb-admin-2/js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'sb-admin-2/js/sb-admin-2.js' %}"></script>

    {% block scripts %}{% endblock %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">{{ current_park.name }} - park management</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i> Main page</a>
                        </li>
                        <li><a href="{% url 'park_management_edit_profile' %}"><i class="fa fa-user fa-fw"></i> Your profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'auth_logout' %}?next=/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a class="active" href="{% url 'park_management_dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="{% url 'park_management_park_settings' %}"><i class="fa fa-wrench fa-fw"></i> Park settings</a>
                        </li>
                        <li>
                            <a href="{% url 'park_management_reservations' %}"><i class="fa fa-table fa-fw"></i> Reservations</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            {% if messages %}
                <div class="alert alert-warning" style="position: relative; top: 20px;">
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
</body>

</html>